.ping100 {
    position: absolute;
    left: 19.3438095981%;
    top: 39.6872508947%;
}
.ping101 {
    position: absolute;
    left: 31.9926806645%;
    top: 39.6872508947%;
}
.ping102 {
    position: absolute;
    left: 39.5380764678%;
    top: 39.6872508947%;
}
.ping103 {
    position: absolute;
    left: 40.0584422849%;
    top: 58.8816690694%;
}
.ping104 {
    position: absolute;
    left: 60.7128920631%;
    top: 55.4388036159%;
}
.ping105 {
    position: absolute;
    left: 61.1128920631%;
    top: 37.8216108953%;
}
.ping106 {
    position: absolute;
    left: 59.8323433374%;
    top: 28.3626181713%;
}
.ping107 {
    position: absolute;
    left: 59.4323433374%;
    top: 13.5682909042%;
}
.ping108 {
    position: absolute;
    left: 76.2238665782%;
    top: 15.4339309035%;
}
.ping109 {
    position: absolute;
    left: 78.1451469383%;
    top: 31.2182581707%;
}
.ping110 {
    position: absolute;
    left: 80.126610207%;
    top: 45.840999983%;
}
.ping111 {
    position: absolute;
    left: 82.4585307471%;
    top: 60.7773090687%;
}
.ping112 {
    position: absolute;
    left: 88.1524632817%;
    top: 80.4313308797%;
}
.ping113 {
    position: absolute;
    left: 81.3877076585%;
    top: 80.4313308797%;
}
.ping114 {
    position: absolute;
    left: 73.2618545838%;
    top: 80.4313308797%;
}
.ping115 {
    position: absolute;
    left: 60.2226177002%;
    top: 78.0176726989%;
}
.ping116 {
    position: absolute;
    left: 51.7967646255%;
    top: 78.0176726989%;
}
.ping117 {
    position: absolute;
    left: 40.1885337392%;
    top: 78.0176726989%;
}
.ping118 {
    position: absolute;
    left: 30.9219490302%;
    top: 78.0176726989%;
}
.ping119 {
    position: absolute;
    left: 16.4317976037%;
    top: 78.0176726989%;
}
.floor1text {
    position: absolute;
    left: 14.5%;
    top: 13.5%;
}
.ping200 {
    position: absolute;
    left: 19.3438095981%;
    top: 39.6872508947%;
}
.ping201 {
    position: absolute;
    left: 31.9926806645%;
    top: 39.6872508947%;
}
.ping202 {
    position: absolute;
    left: 39.5380764678%;
    top: 39.6872508947%;
}
.ping203 {
    position: absolute;
    left: 40.0584422849%;
    top: 58.8816690694%;
}
.ping204 {
    position: absolute;
    left: 60.7128920631%;
    top: 55.4388036159%;
}
.ping205 {
    position: absolute;
    left: 61.1128920631%;
    top: 37.8216108953%;
}
.ping206 {
    position: absolute;
    left: 59.8323433374%;
    top: 28.3626181713%;
}
.ping207 {
    position: absolute;
    left: 59.4323433374%;
    top: 13.5682909042%;
}
.ping208 {
    position: absolute;
    left: 76.2238665782%;
    top: 15.4339309035%;
}
.ping209 {
    position: absolute;
    left: 78.1451469383%;
    top: 31.2182581707%;
}
.ping210 {
    position: absolute;
    left: 80.126610207%;
    top: 45.840999983%;
}
.ping211 {
    position: absolute;
    left: 82.4585307471%;
    top: 60.7773090687%;
}
.ping212 {
    position: absolute;
    left: 88.1524632817%;
    top: 80.4313308797%;
}
.ping213 {
    position: absolute;
    left: 81.3877076585%;
    top: 80.4313308797%;
}
.ping214 {
    position: absolute;
    left: 73.2618545838%;
    top: 80.4313308797%;
}
.ping215 {
    position: absolute;
    left: 60.2226177002%;
    top: 78.0176726989%;
}
.ping216 {
    position: absolute;
    left: 51.7967646255%;
    top: 78.0176726989%;
}
.ping217 {
    position: absolute;
    left: 40.1885337392%;
    top: 78.0176726989%;
}
.ping218 {
    position: absolute;
    left: 30.9219490302%;
    top: 78.0176726989%;
}
.ping219 {
    position: absolute;
    left: 16.4317976037%;
    top: 78.0176726989%;
}
.ping300 {
    position: absolute;
    left: 19.3438095981%;
    top: 39.6872508947%;
}
.ping301 {
    position: absolute;
    left: 31.9926806645%;
    top: 39.6872508947%;
}
.ping302 {
    position: absolute;
    left: 39.5380764678%;
    top: 39.6872508947%;
}
.ping303 {
    position: absolute;
    left: 40.0584422849%;
    top: 58.8816690694%;
}
.ping304 {
    position: absolute;
    left: 60.7128920631%;
    top: 55.4388036159%;
}
.ping305 {
    position: absolute;
    left: 61.1128920631%;
    top: 37.8216108953%;
}
.ping306 {
    position: absolute;
    left: 59.8323433374%;
    top: 28.3626181713%;
}
.ping307 {
    position: absolute;
    left: 59.4323433374%;
    top: 13.5682909042%;
}
.ping308 {
    position: absolute;
    left: 76.2238665782%;
    top: 15.4339309035%;
}
.ping309 {
    position: absolute;
    left: 78.1451469383%;
    top: 31.2182581707%;
}
.ping310 {
    position: absolute;
    left: 80.126610207%;
    top: 45.840999983%;
}
.ping311 {
    position: absolute;
    left: 82.4585307471%;
    top: 60.7773090687%;
}
.ping312 {
    position: absolute;
    left: 88.1524632817%;
    top: 80.4313308797%;
}
.ping313 {
    position: absolute;
    left: 81.3877076585%;
    top: 80.4313308797%;
}
.ping314 {
    position: absolute;
    left: 73.2618545838%;
    top: 80.4313308797%;
}
.ping315 {
    position: absolute;
    left: 60.2226177002%;
    top: 78.0176726989%;
}
.ping316 {
    position: absolute;
    left: 51.7967646255%;
    top: 78.0176726989%;
}
.ping317 {
    position: absolute;
    left: 40.1885337392%;
    top: 78.0176726989%;
}
.ping318 {
    position: absolute;
    left: 30.9219490302%;
    top: 78.0176726989%;
}
.ping319 {
    position: absolute;
    left: 16.4317976037%;
    top: 78.0176726989%;
}
.ping300 {
    position: absolute;
    left: 19.3438095981%;
    top: 39.6872508947%;
}
.ping301 {
    position: absolute;
    left: 31.9926806645%;
    top: 39.6872508947%;
}
.ping302 {
    position: absolute;
    left: 39.5380764678%;
    top: 39.6872508947%;
}
.ping303 {
    position: absolute;
    left: 40.0584422849%;
    top: 58.8816690694%;
}
.ping304 {
    position: absolute;
    left: 60.7128920631%;
    top: 55.4388036159%;
}
.ping305 {
    position: absolute;
    left: 61.1128920631%;
    top: 37.8216108953%;
}
.ping306 {
    position: absolute;
    left: 59.8323433374%;
    top: 28.3626181713%;
}
.ping307 {
    position: absolute;
    left: 59.4323433374%;
    top: 13.5682909042%;
}
.ping308 {
    position: absolute;
    left: 76.2238665782%;
    top: 15.4339309035%;
}
.ping309 {
    position: absolute;
    left: 78.1451469383%;
    top: 31.2182581707%;
}
.ping310 {
    position: absolute;
    left: 80.126610207%;
    top: 45.840999983%;
}
.ping311 {
    position: absolute;
    left: 82.4585307471%;
    top: 60.7773090687%;
}
.ping312 {
    position: absolute;
    left: 88.1524632817%;
    top: 80.4313308797%;
}
.ping313 {
    position: absolute;
    left: 81.3877076585%;
    top: 80.4313308797%;
}
.ping314 {
    position: absolute;
    left: 73.2618545838%;
    top: 80.4313308797%;
}
.ping315 {
    position: absolute;
    left: 60.2226177002%;
    top: 78.0176726989%;
}
.ping316 {
    position: absolute;
    left: 51.7967646255%;
    top: 78.0176726989%;
}
.ping317 {
    position: absolute;
    left: 40.1885337392%;
    top: 78.0176726989%;
}
.ping318 {
    position: absolute;
    left: 30.9219490302%;
    top: 78.0176726989%;
}
.ping319 {
    position: absolute;
    left: 16.4317976037%;
    top: 78.0176726989%;
}
.ping400 {
    position: absolute;
    left: 19.3438095981%;
    top: 39.6872508947%;
}
.ping401 {
    position: absolute;
    left: 31.9926806645%;
    top: 39.6872508947%;
}
.ping402 {
    position: absolute;
    left: 39.5380764678%;
    top: 39.6872508947%;
}
.ping403 {
    position: absolute;
    left: 40.0584422849%;
    top: 58.8816690694%;
}
.ping404 {
    position: absolute;
    left: 60.7128920631%;
    top: 55.4388036159%;
}
.ping405 {
    position: absolute;
    left: 61.1128920631%;
    top: 37.8216108953%;
}
.ping406 {
    position: absolute;
    left: 59.8323433374%;
    top: 28.3626181713%;
}
.ping407 {
    position: absolute;
    left: 59.4323433374%;
    top: 13.5682909042%;
}
.ping408 {
    position: absolute;
    left: 76.2238665782%;
    top: 15.4339309035%;
}
.ping409 {
    position: absolute;
    left: 78.1451469383%;
    top: 31.2182581707%;
}
.ping410 {
    position: absolute;
    left: 80.126610207%;
    top: 45.840999983%;
}
.ping411 {
    position: absolute;
    left: 82.4585307471%;
    top: 60.7773090687%;
}
.ping412 {
    position: absolute;
    left: 88.1524632817%;
    top: 80.4313308797%;
}
.ping413 {
    position: absolute;
    left: 81.3877076585%;
    top: 80.4313308797%;
}
.ping414 {
    position: absolute;
    left: 73.2618545838%;
    top: 80.4313308797%;
}
.ping415 {
    position: absolute;
    left: 60.2226177002%;
    top: 78.0176726989%;
}
.ping416 {
    position: absolute;
    left: 51.7967646255%;
    top: 78.0176726989%;
}
.ping417 {
    position: absolute;
    left: 40.1885337392%;
    top: 78.0176726989%;
}
.ping418 {
    position: absolute;
    left: 30.9219490302%;
    top: 78.0176726989%;
}
.ping419 {
    position: absolute;
    left: 16.4317976037%;
    top: 78.0176726989%;
}
.ping500 {
    position: absolute;
    left: 19.3438095981%;
    top: 39.6872508947%;
}
.ping501 {
    position: absolute;
    left: 31.9926806645%;
    top: 39.6872508947%;
}
.ping502 {
    position: absolute;
    left: 39.5380764678%;
    top: 39.6872508947%;
}
.ping503 {
    position: absolute;
    left: 40.0584422849%;
    top: 58.8816690694%;
}
.ping504 {
    position: absolute;
    left: 60.7128920631%;
    top: 55.4388036159%;
}
.ping505 {
    position: absolute;
    left: 61.1128920631%;
    top: 37.8216108953%;
}
.ping506 {
    position: absolute;
    left: 59.8323433374%;
    top: 28.3626181713%;
}
.ping507 {
    position: absolute;
    left: 59.4323433374%;
    top: 13.5682909042%;
}
.ping508 {
    position: absolute;
    left: 76.2238665782%;
    top: 15.4339309035%;
}
.ping509 {
    position: absolute;
    left: 78.1451469383%;
    top: 31.2182581707%;
}
.ping510 {
    position: absolute;
    left: 80.126610207%;
    top: 45.840999983%;
}
.ping511 {
    position: absolute;
    left: 82.4585307471%;
    top: 60.7773090687%;
}
.ping512 {
    position: absolute;
    left: 88.1524632817%;
    top: 80.4313308797%;
}
.ping513 {
    position: absolute;
    left: 81.3877076585%;
    top: 80.4313308797%;
}
.ping514 {
    position: absolute;
    left: 73.2618545838%;
    top: 80.4313308797%;
}
.ping515 {
    position: absolute;
    left: 60.2226177002%;
    top: 78.0176726989%;
}
.ping516 {
    position: absolute;
    left: 51.7967646255%;
    top: 78.0176726989%;
}
.ping517 {
    position: absolute;
    left: 40.1885337392%;
    top: 78.0176726989%;
}
.ping518 {
    position: absolute;
    left: 30.9219490302%;
    top: 78.0176726989%;
}
.ping519 {
    position: absolute;
    left: 16.4317976037%;
    top: 78.0176726989%;
}