.badge {
    font-size: 66%;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
    padding: .35rem .375rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: .375rem
  }
  
  @media (prefers-reduced-motion:reduce) {
    .badge {
        transition: none
    }
  }
  
  a.badge:focus,
  a.badge:hover {
    text-decoration: none
  }
  
  .badge:empty {
    display: none
  }
  
  .btn .badge {
    position: relative;
    top: -1px
  }
  
  .badge-pill {
    padding-right: .875em;
    padding-left: .875em;
    border-radius: 10rem
  }
  
  .badge-primary {
    color: #2643e9;
    background-color: #eaecfb
  }
  
  .badge-primary[href]:focus,
  .badge-primary[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #2a44db
  }
  
  .badge-secondary {
    color: #cfe3f1;
    background-color: #fff
  }
  
  .badge-secondary[href]:focus,
  .badge-secondary[href]:hover {
    text-decoration: none;
    color: #212529;
    background-color: #cadeeb
  }
  
  .badge-success {
    color: #1aae6f;
    background-color: #b0eed3
  }
  
  .badge-success[href]:focus,
  .badge-success[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #229c68
  }
  
  .badge-info {
    color: #03acca;
    background-color: #aaedf9
  }
  
  .badge-info[href]:focus,
  .badge-info[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #0c9cb7
  }
  
  .badge-warning {
    color: #ff3709;
    background-color: #fee6e0
  }
  
  .badge-warning[href]:focus,
  .badge-warning[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #f93305
  }
  
  .badge-danger {
    color: #f80031;
    background-color: #fdd1da
  }
  
  .badge-danger[href]:focus,
  .badge-danger[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #e30b36
  }
  
  .badge-light {
    color: #879cb0;
    background-color: #fff
  }
  
  .badge-light[href]:focus,
  .badge-light[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #8b96a2
  }
  
  .badge-dark {
    color: #090c0e;
    background-color: #6a7783
  }
  
  .badge-dark[href]:focus,
  .badge-dark[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #060607
  }
  
  .badge-default {
    color: #091428;
    background-color: #4172c6
  }
  
  .badge-default[href]:focus,
  .badge-default[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #09111e
  }
  
  .badge-white {
    color: #e8e3e3;
    background-color: #fff
  }
  
  .badge-white[href]:focus,
  .badge-white[href]:hover {
    text-decoration: none;
    color: #212529;
    background-color: #e0e0e0
  }
  
  .badge-neutral {
    color: #e8e3e3;
    background-color: #fff
  }
  
  .badge-neutral[href]:focus,
  .badge-neutral[href]:hover {
    text-decoration: none;
    color: #212529;
    background-color: #e0e0e0
  }
  
  .badge-darker {
    color: #000;
    background-color: #525252
  }
  
  .badge-darker[href]:focus,
  .badge-darker[href]:hover {
    text-decoration: none;
    color: #fff;
    background-color: #000
  }
  
  .badge-dot {
    font-size: .875rem;
    font-weight: 400;
    padding-right: 0;
    padding-left: 0;
    text-transform: none;
    background: 0 0
  }
  
  .badge-dot strong {
    color: #32325d
  }
  
  .badge-dot i {
    display: inline-block;
    width: .375rem;
    height: .375rem;
    margin-right: .375rem;
    vertical-align: middle;
    border-radius: 50%
  }
  
  .badge-dot.badge-md i {
    width: .5rem;
    height: .5rem
  }
  
  .badge-dot.badge-lg i {
    width: .625rem;
    height: .625rem
  }