<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/tailwind.css')}}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/tailwind.css')}}">
    <link rel="icon" href="{{url_for('static',filename='img/favicon.ico')}}" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='img/favicon.ico')}}">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>luke.sites</title>
    {% endif %}
</head>

<body class=""> <!-- bg-gradient-to-br from-blue-300 to-slate-800 --> <!--via-gray-600--> <!--bg-gradient-to-br from-gray-900 to-transparent -->
    <main class="">
          {% block messages %}
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                  <div role="py-2">
                    <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
                      {{ category }}
                    </div>
                    <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                      <p>{{ message }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% endblock %}
          {% block content %}{% endblock %}
    </main> 
    <iframe src="/loginbackground"></iframe> 
    <style>
        body {
          background: hsla(0, 0%, 100%, .5); 
          backdrop-filter: blur(30px);
          z-index : 100; 
        }
      iframe {
          z-index : -9999;
          position: absolute;
          top : 0;
          left    : 0;
          width   : 100%;
          height  : 100%;
          margin  : 0;
          padding : 0;
      }
      </style>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
